# Loading Sample Data

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/brenordv/data-samples/main/csv/NASA/missionstars.csv", comment="#")

In [3]:
df.head()

,rowid,star_name,hip_name,hd_name,gj_name,tm_name,st_exocatflag,st_coronagflag,st_starshadeflag,st_wfirstflag,...,st_wise1lim,st_wise2,st_wise2err,st_wise2lim,st_wise3,st_wise3err,st_wise3lim,st_wise4,st_wise4err,st_wise4lim
0,1,HIP 171,HIP 171,HD 224930,GJ 914 A,2MASS J00021014+2704570 A,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HD 142,HIP 522,HD 142,GJ 4.2 A,2MASS J00061921-4904307 A,1,1,0,0,...,0.0,3.636,0.118,0.0,4.32,0.013,0.0,4.384,0.025,0.0
2,3,HIP 544,HIP 544,HD 166,GJ 5,2MASS J00063674+2901175,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HIP 677,HIP 677,HD 358,NaN,2MASS J00082326+2905253,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HIP 746,HIP 746,HD 432,GJ 8,2MASS J00091071+5908591,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Renaming columns

- rowid -> id
- star_name -> star
- hip_name -> hip

In [4]:
df.rename(columns={
    "rowid": "id",
    "star_name": "star",
    "hip_name": "hip"
})

,id,star,hip,hd_name,gj_name,tm_name,st_exocatflag,st_coronagflag,st_starshadeflag,st_wfirstflag,...,st_wise1lim,st_wise2,st_wise2err,st_wise2lim,st_wise3,st_wise3err,st_wise3lim,st_wise4,st_wise4err,st_wise4lim
0,1,HIP 171,HIP 171,HD 224930,GJ 914 A,2MASS J00021014+2704570 A,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HD 142,HIP 522,HD 142,GJ 4.2 A,2MASS J00061921-4904307 A,1,1,0,0,...,0.0,3.636,0.118,0.0,4.320,0.013,0.0,4.384,0.025,0.0
2,3,HIP 544,HIP 544,HD 166,GJ 5,2MASS J00063674+2901175,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HIP 677,HIP 677,HD 358,NaN,2MASS J00082326+2905253,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HIP 746,HIP 746,HD 432,GJ 8,2MASS J00091071+5908591,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,356,gam Cep,HIP 116727,HD 222404,GJ 903,2MASS J23392083+7737563,1,1,1,0,...,-1.0,-1.126,NaN,-1.0,0.900,0.058,0.0,0.839,0.017,0.0
356,357,HIP 116771,HIP 116771,HD 222368,GJ 904,2MASS J23395706+0537343,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,358,HIP 117712,HIP 117712,HD 223778,GJ 909 A,2MASS J23522534+7532403 A,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,359,HIP 118268,HIP 118268,HD 224617,NaN,2MASS J23591867+0651478,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,360,GJ 317,NaN,NaN,GJ 317,2MASS J08405923-2327232,0,0,1,0,...,0.0,6.766,0.021,0.0,6.704,0.016,0.0,6.502,0.059,0.0

# Replacing characters in column name.
- Changing _ to -.

In [5]:
# Just so we don't lose the original dataframe
x = df.copy()
x.columns = x.columns.str.replace("_", "-")
x

,rowid,star-name,hip-name,hd-name,gj-name,tm-name,st-exocatflag,st-coronagflag,st-starshadeflag,st-wfirstflag,...,st-wise1lim,st-wise2,st-wise2err,st-wise2lim,st-wise3,st-wise3err,st-wise3lim,st-wise4,st-wise4err,st-wise4lim
0,1,HIP 171,HIP 171,HD 224930,GJ 914 A,2MASS J00021014+2704570 A,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HD 142,HIP 522,HD 142,GJ 4.2 A,2MASS J00061921-4904307 A,1,1,0,0,...,0.0,3.636,0.118,0.0,4.320,0.013,0.0,4.384,0.025,0.0
2,3,HIP 544,HIP 544,HD 166,GJ 5,2MASS J00063674+2901175,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HIP 677,HIP 677,HD 358,NaN,2MASS J00082326+2905253,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HIP 746,HIP 746,HD 432,GJ 8,2MASS J00091071+5908591,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,356,gam Cep,HIP 116727,HD 222404,GJ 903,2MASS J23392083+7737563,1,1,1,0,...,-1.0,-1.126,NaN,-1.0,0.900,0.058,0.0,0.839,0.017,0.0
356,357,HIP 116771,HIP 116771,HD 222368,GJ 904,2MASS J23395706+0537343,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,358,HIP 117712,HIP 117712,HD 223778,GJ 909 A,2MASS J23522534+7532403 A,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,359,HIP 118268,HIP 118268,HD 224617,NaN,2MASS J23591867+0651478,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,360,GJ 317,NaN,NaN,GJ 317,2MASS J08405923-2327232,0,0,1,0,...,0.0,6.766,0.021,0.0,6.704,0.016,0.0,6.502,0.059,0.0